<div id="container">
    <div id="header">
      <h1>My website</h1>
    </div>
    <div id="content">
      <div id="nav">
        <h3>Navigation</h3>
        <ul>
          <li>Home</li>
          <li>About</li>
          <li>Contact</li>
        </ul>
      </div>
      <div id="main">
        <h2>My self</h2>
        <p>My name is proradar</p>
        <p>I have a github</p>
        <p>I will run a youtube channel</p>
      </div>
    </div>
    <div id="footer">
      Copyright &copy; 2018-present proradar
    </div>
</div>
